{{#if question}}
    <td class="recordName"><a href="#patient/{{_id}}">{{surname}}, {{firstNames}}</a></td>
    <td class="recordTs">
      {{#if CountryId}}ID: {{CountryId}}<br/>{{/if}}
      {{#if Gender}}{{polyglot Gender}}<br/>{{/if}}
      {{#if DOB}}{{DOB}}<br/>{{/if}}
      {{#if Name}}{{Name}}<br/>{{/if}}
    </td>
    <td class="recordTs">{{lastModifiedAt}}</td>
{{/if}}